* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     }
a{text-decoration: none;}
body{
    background: linear-gradient(to top, black, rgb(233, 201, 19));
    padding: 0px; /* Adiciona espaçam  ento interno para o conteúdo */
    color: white; /* Torna o texto legível sobre o fundo */
}

.logo:hover{
    transform: scale(1.1);
}

    #nav{
        width: 100%;
        color: #000000;
        height: 150px;
    }
    .nav-container{
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .logo{
        height: 7rem;
        width: auto;
    }
    .img-insta{
        height: 12rem;
        width: auto;
        cursor: pointer;
    }
    .img-insta:hover{
    transform: scale(1.1);
}
    #container-insta{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .p{
        font-size: clamp(24px, 4vw, 17px);
    }
    .p1{
        font-size: clamp(15px, 1vw, 5px);
        justify-content: center;
        display: flex;
    }
    .geralp{
        margin:40px 150px 40px 150px;
        text-align: center;
    }
    .button1{
    width: 150px;
    height: 50px;
    display: block;
    margin: 0% 5%;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
    }
    .button1:hover{
        cursor: pointer;
    background: #000;
    transform: scale(1.1);
    }
    .button2:hover{
        cursor: pointer;
    background: #000;
    transform: scale(1.1);
    }
    .button-container{
    margin: 10% 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .button2{
    width: 150px;
    height: 50px;
    display: block;
    margin: 0% 10%;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
    }


    .carousel {
        margin-top: 5%;
      position: relative;
      width: 40%;
      max-width: 600px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      margin-left: 27.5%;
    }
    
    .carousel-container {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .carousel-container img {
      width: 100%;
      flex-shrink: 0;
    }
    
    .prev, .next{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
      border-radius: 50%;
    }
    
    .prev:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }  

    .prev {
      left: 10px;
    }
    
    .next {
      right: 10px;
    }
    